:root {
    --smoky-black: #14110fff;
    --xiketic: #03071eff;
    --dark-sienna: #370617ff;
    --rosewood: #4f000bff;
    --rosewood-2: #6a040fff;
    --dark-red: #9d0208ff;
    --rosso-corsa: rgb(241, 0, 0);
    --cultured: #f3f3f4ff;
    --gray-web: #7e7f83ff;
    --jet: #34312dff;

    --main-blue-color: #007afc;

    --table-color: #5c0a27;
    --table-color-light: #931040;
    --background-color: #250410;
    --text-color: #f3f3f4;

    height: 100%;
}

body {
    font-family: Cerapro, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    height: 100%;
    background-color: #0e1012;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.map-container {
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
}

.marker-list-container {
    background-color: #0e1012;
    width: 30vw;
    height: 600px;

    overflow-y: scroll;

    color: white;
}

.marker-list-item {
    display: grid;
    /* width: 100%; */
    grid-template-columns: 90% 10%;

    padding: 0.5em 0.9em 0.5em 0.9em;
    margin: 0.2em;

    /* border: 1px solid black; */
    border-radius: 30px;
    box-shadow: inset 0px 0px 0px 1px #566171;
}

.marker-list-item button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;

    width: 2.5em;
    height: 2.5em;

    border: 1px solid var(--main-blue-color);
    transition: 0.5s;
}

.marker-list-item button:hover {
    background-color: #566171;
}

.delete-marker-icon {
    color: var(--main-blue-color);
    font-size: large;
}

.marker-list-item:hover {
    cursor: pointer;
    background-color: #56617162;
}

.lng-lat-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#root {
    height: 100%;
}

.white-wrapper {
    width: 100%;
    height: 100%;
    background-color: white;
}
